* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}

h1, h2, p {
    font-size: 1em;
    font-weight: 400;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.active {
    font-weight: 700;
}

.active-img {
    transform: rotate(180deg);
}

.card {
    background: #fff;
    width: 900px;
    border-radius: 20px;
    display: flex;
    margin-top: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.589);
}

.card .left {
    width: 50%;
}

.card .right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 80px 0;
}

.card .right h1 {
    font-size: 28px;
    font-weight: 700;
}

.card .right h2 {
    font-size: 14px;
}

.card .right h2:hover {
    font-weight: 700;
}

.card .right ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.card .right ul li {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    border-bottom: #ccc solid 1px;
    width: 75%;
}

.card .right ul li .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card .right ul li img {
    width: 10px;
    height: 8px;
}

.card .right ul li p {
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.5em;
    padding-right: 10px;
}

.card .left {
    background: url("images/bg-pattern-desktop.svg") no-repeat -570px -300px;
    position: relative;
}

.card .left #woman {
    position: absolute;
    top: 70px;
    left: -78px;
    clip-path: inset(0 0 0 78px);
}

.card .left #box {
    position: absolute;
    z-index: 10;
    top: 200px;
    left: -90px;
}

@media(max-height: 610px) {
    body {
        height: fit-content;
    }
}

@media(max-width: 1000px) {
    body {
        width: 100%;
        overflow: auto;
        justify-content: flex-start;
        padding-bottom: 50px;
    }

    .card {
        flex-direction: column;
        height: auto;
        width: 355px;
        margin-top: 150px;
    }

    .card .right {
        width: 100%;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .card .right ul {
        padding: 0 20px;
        width: 100%;
    }

    .card .right ul li {
        width: 100%;
    }

    .card .left {
        height: 120px;
        width: 100%;
    }

    .card .left #box {
        display: none;
    }

    .card .left {
        background: url("images/bg-pattern-mobile.svg") no-repeat center top;
    }

    .card .left #woman {
        content: url("images/illustration-woman-online-mobile.svg");
        top: -110px;
        left: 30px;
        clip-path: none;
    }
}

